<!doctype html>
<html lang="he" dir="rtl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ '/assets/css/style.css' | relative_url }}"
    />

    <title>{{ page.title }}</title>
  </head>

  <body>
    <!-- Sidebar -->
    <div class="sidebar">
      <h2>📘 תוכן העניינים</h2>

      <strong>הרעיון</strong>
      <a
        href="/smart-mood-system-book/chapters/part-1-the-idea/01-how-it-all-started.html"
        >1. רגע שבו הכל התחיל</a
      >
      <a
        href="/smart-mood-system-book/chapters/part-1-the-idea/02-the-problem-no-one-solved.html"
        >2. בעיה שאף אחד לא באמת פתר</a
      >
      <a
        href="/smart-mood-system-book/chapters/part-1-the-idea/03-turning-a-feeling-into-a-system.html"
        >3. להפוך תחושה למערכת</a
      >

      <strong>תכנון מערכת</strong>
      <a
        href="/smart-mood-system-book/chapters/part-2-system-design/04-breaking-the-problem-into-layers.html"
        >4. פירוק הבעיה לשכבות</a
      >
      <a
        href="/smart-mood-system-book/chapters/part-2-system-design/05-why-architecture-matters.html"
        >5. למה צריך ארכיטקטורה</a
      >

      <strong>Backend</strong>
      <a
        href="/smart-mood-system-book/chapters/part-3-backend/08-the-first-api.html"
        >8. API</a
      >
      <a
        href="/smart-mood-system-book/chapters/part-3-backend/09-crud-as-the-core-engine.html"
        >9. CRUD</a
      >
    </div>

    <!-- Content -->
    <div class="content">{{ content }}</div>
  </body>
</html>
